.layout-topbar {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .topbar-end {
        margin-inline-start: 1rem;
        width: 100%;
    }

    .topbar-start {
        display: flex;
        align-items: center;

        .topbar-menubutton {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 2rem;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            flex-shrink: 0;
            background-color: transparent;
            border: transparent;
            transition: background-color var(--transition-duration);

            i {
                font-size: 1.25rem;
                color: var(--text-color);
                transition: color var(--transition-duration);
            }

            &:hover {
                background-color: var(--primary-color);

                i {
                    color: var(--primary-color-text);
                }
            }
        }
    }

    .topbar-end {
        
        div{
            .topbar-search {
                .p-autocomplete{
                    .p-inputtext {
                    align-self: center;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    border-radius: 2rem;
                    width: 100% !important;
                }
                .p-inputtext:focus{
                    flex-grow: 1 !important;
                    width: 100% !important;

                }
                }
                .p-autocomplete:focus-within{
                    flex-grow: 1 !important;
                    width: 100% !important;
                }
                
            }
            .topbar-search:focus-within{
                flex-grow: 1 !important;
                width: 100% !important;
            }
        }
    }
}
.p-autocomplete-empty-message{
    padding: 0px 6px;
}
// RTL adjustments
.rtl {
    .layout-topbar {
        .topbar-start {
            .topbar-menubutton {
                margin-right: 0;
                margin-left: 2rem;
            }
        }

        .topbar-menu {
            li {
                &.topbar-profile {
                    margin-left: 0;
                    margin-right: 1.5rem;
                }
            }
        }
    }
}
